<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Главная</title>
</head>
<body>

<header>
    <div class="logo">
        <span>Погода-года</span>
        <img src="{% static 'img/logo1.png'%}">
    </div>
    <nav>
        <ul class="top-menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a>Меню</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'my_stations' %}">Мои станции</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div id="block-body">

</div>

</body>
</html>
{% block content %}
{% endblock %}