{% extends 'base.html' %}

{% block content %}

    <div class="welcome">
        <h1>Добро пожаловать на сайт Погода-года!</h1>
        <p>Здесь вы можете найти свежую информацию о погоде, а также ознакомиться с нашим архивом метеорологических данных</p>
    </div>

    <div id="wrapper">
        <div class="conteiner-home">
            <div id="in">
                <p>В Москве сейчас</p>
                <br>
                <span> <!--цифра как-то подгружается--> {{temp_moscow}}&deg;C </span>
                <br>
                <p>А какая погода у вас? <br> Зайдите или зарегистрируйтесь и узнайте!)</p>
            </div>
        </div>
    </div>
{% endblock %}