{% extends 'base.html' %}


{% block content %}
{% load static %}
<script src="{% static 'js/script.js' %}"></script>
{% if user.is_authenticated %}
<div id="container-my-stations">
<h1>Мои метеостанции</h1>

<!-- Кнопка открытия модального окна -->
<button id="add_meteo_btn" class="btn">Добавить метеостанцию</button>
</div>
{% if user_stations %}
<ul>
    {% for station in user_stations %}
        <li class="form-container">
            Метеостанция №{{ station.pk }}

            <form action="{{ station.get_absolute_url }}">
                    <input type="submit" class="btn" value="Открыть">
            </form>

            <form action="" method="post">
                {% csrf_token %}


                <input type="submit" class="btn" value="Удалить из моих метеостанций" name="delete_{{station.pk}}">

            </form>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Сейчас у вас не добавлено ни одной метеостанции! Нажмите на "Добавить метеостанцию" и выберите подходящую вам.</p>
{% endif %}
{% else %}
<h2>Для начала зарегистрируйтесь или войдите на сайт.</h2>
{% endif %}

<!-- Затемнение всей страницы при открытии окна -->
<div id="myModal" class="modal">
    <!-- Содержимое модального окна -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Выберите метеостанцию из списка:</h3>
        {% if all_stations %}
        <ul class="list">
            {% for station in all_stations %}
            <li>
                <form action="" method="post">
                    {% csrf_token %}
                    <span>"Метеостанция номер {{station}}"</span>

                    <input id="add_station" type="submit" class="btn" value="Добавить" name="add_number_{{station}}">
                </form>

<!--                        <span>"Станция 1"</span>-->
<!--                        <button id="add_station">Добавить</button>-->
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Вы уже выбрали все доступные метеостанции.</p>
        {% endif %}

    </div>
</div>

{% endblock %}