{% extends 'base.html' %}

{% block content %}
<div id="block-body">
    <h2>Метеостанция №{{station_id}}</h2>

    <div class="chart-container">
        <canvas id="weatherChart" width="600px" height="300px"></canvas>
    </div>

    <form>
        <select name="type" id="date_select">
            <option label="За сегодня" value="day"></option>  <!--label="За сегодня"-->
            <option label="За 24 часа" value="day"></option> <!-- label="За 24 часа"-->
            <option label="За неделю" value="week"></option> <!-- label="За неделю"-->
        </select>
        <select name="ind" id="indicator_select">
            <option label="Температура воздуха" value="tair"></option>
            <option label="Давление" value="airpressure"></option>
            <option label="Влажность" value="humair"></option>
            <option label="Уровень света" value="photolight"></option>
        </select>
        <input type="submit" class="btn">
    </form>

    <p>По месяцам: </p>
    <form>
        <select name="year" id="date_Year">
            {% for year in years %}
            <option label="{{year}}" value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
        <select name="month" id="date_Month">
            {% for month in months %}
                <option label="{{month.0}}" value="{{month.1}}">{{month.0}}</option>
            {% endfor %}
        </select>
        <select name="ind" id="indicator_select1">
            <option label="Температура воздуха" value="tair"></option>
            <option label="Давление" value="airpressure"></option>
            <option label="Влажность" value="humair"></option>
            <option label="Уровень света" value="photolight"></option>
        </select>
        <input type="submit" value="Выбрать" class="btn">
    </form>

</div>

{% if request.GET.year %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
<script>
    var date = {{date|safe}};
    var temp = {{temp|safe}};

    indicator = '{{ind}}'

    temp['min'].push(Math.min.apply(null, temp['min'])-5);
    temp['max'].push(Math.max.apply(null, temp['max'])+5);

    var ctx = document.querySelector("#weatherChart").getContext("2d");
    ctx.canvas.parentNode.style.height = "70vh";
    ctx.canvas.parentNode.style.width = "80vw";
    let myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: indicator + " макс.",
                data: temp['max'],
                backgroundColor: [
                'white'
                ],
                borderColor: ['red'],
                borderWidth: 3,
            },
            {
                label: indicator + " средн.",
                data: temp['average'],
                backgroundColor: [
                'white'
                ],
                borderColor: [],
                borderWidth: 3,
            },
            {
                label: indicator + " мин.",
                data: temp['min'],
                backgroundColor: [
                'white'
                ],
                borderColor: ['blue'],
                borderWidth: 3,
            }],
        },
        options: {
            maintainAspectRatio: false,
            legend: {
                labels: {
                    boxWidth: 100,
                }
            }
        }
    });
</script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
<script>
    var date = {{date|safe}};
    var temp = {{temp|safe}};

    temp.push(Math.min.apply(null, temp)-7);
    temp.push(Math.max.apply(null, temp)+7);

    var date_ed = [];
    for (var i = 0; i < date.length; i++){
        date_ed.push(date[i][0]+'/'+date[i][1]+'/'+date[i][2]+'\t'+date[i][3]+':00')
    }

    let ctx = document.querySelector("#weatherChart").getContext("2d");
    ctx.canvas.parentNode.style.height = "70vh";
    ctx.canvas.parentNode.style.width = "80vw";
    let myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: date_ed,
            datasets: [{
                label: '{{ind}}',
                data: temp,
                backgroundColor: [
                'white'
                ],
                borderColor: [],
                borderWidth: 3,
            }],
        },
        options: {
            maintainAspectRatio: false,
        }
    });
</script>
{% endif %}
{% endblock %}
